<a href="https://colab.research.google.com/github/likitha4/NLP/blob/main/Sentimental_Analysis_IMDB_Dataset_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/IMDB Dataset.csv",encoding='utf-8',sep=',')

In [ ]:
data.shape

(50000, 2)

In [ ]:
data.head(5)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
data.tail(5)

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [ ]:
data.columns

Index(['review', 'sentiment'], dtype='object')

In [ ]:
data.isnull().any()

review       False
sentiment    False
dtype: bool

In [ ]:
data.isnull().sum()

review       0
sentiment    0
dtype: int64

In [ ]:
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  negative
freq                                                    5     25000

In [ ]:
data.info

<bound method DataFrame.info of                                                   review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]>

In [ ]:
data['sentiment'].value_counts()

negative    25000
positive    25000
Name: sentiment, dtype: int64

Text Normalization

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelBinarizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from wordcloud import WordCloud,STOPWORDS
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize,sent_tokenize

In [ ]:
import spacy
import re, string,unicodedata
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.stem import LancasterStemmer,WordNetLemmatizer
from sklearn.linear_model import LogisticRegression,SGDClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from textblob import TextBlob, Word
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
from bs4 import BeautifulSoup

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

tokenization of data

In [ ]:
tokenizer=ToktokTokenizer()
stopwords=nltk.corpus.stopwords.words('english')

In [ ]:
##to remove html tags

In [ ]:
def noiseremoval_text(text):
  soup=BeautifulSoup(text,"html.parser")
  text=soup.get_text()
  text=re.sub('\[[^]]*\]','',text)
  return text

apply  above function on review column

In [ ]:
data['review']=data['review'].apply(noiseremoval_text)

In [ ]:
data.head(5)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

stemming

In [ ]:
def stemmer(text):
  ps=nltk.porter.PorterStemmer()
  text=' '.join([ps.stem(word) for word in text.split()])
  return text

In [ ]:
#apply the above function on review column
data['review']=data['review'].apply(stemmer)

In [ ]:
data.head(5)

                                              review sentiment
0  one of the other review ha mention that after ...  positive
1  A wonder littl production. the film techniqu i...  positive
2  I thought thi wa a wonder way to spend time on...  positive
3  basic there' a famili where a littl boy (jake)...  negative
4  petter mattei' "love in the time of money" is ...  positive

In [ ]:
#removing stop words
def removestopwords(text,is_lower_case=False):
  tokenizer=ToktokTokenizer()
  tokens=tokenizer.tokenize(text)
  tokens=[i.strip() for i in tokens]
  if is_lower_case:
    filtokens=[i for i in tokens if token not in stopwords]
  else:
    filtokens=[i for i in tokens if i.lower() not in stopwords]

  filtered_texts=' '.join(filtokens)
  return filtered_texts

In [ ]:
data['review']=data['review'].apply(removestopwords)

In [ ]:
data.head()

                                              review sentiment
0  one review ha mention watch 1 Oz episod ' hook...  positive
1  wonder littl production. film techniqu veri un...  positive
2  thought thi wa wonder way spend time hot summe...  positive
3  basic ' famili littl boy ( jake ) think ' zomb...  negative
4  petter mattei ' " love time money " visual stu...  positive

train test split

In [ ]:
traindata=data.review[:30000]

In [ ]:
testdata=data.review[30000:]

bag of words model

In [ ]:
cv=CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))
cvtrain=cv.fit_transform(traindata)
cvtest=cv.transform(testdata)
print("BAG OF WORDS MODEL:",cvtrain.shape)
print("BAG OF WORDS MODEL:",cvtest.shape)

BAG OF WORDS MODEL: (30000, 4954557)
BAG OF WORDS MODEL: (20000, 4954557)

tf_idf

In [ ]:
tf=TfidfVectorizer(min_df=0,max_df=1,use_idf=True,ngram_range=(1,3))
tftrain=tf.fit_transform(traindata)
tftest=tf.transform(testdata)
print("TF-IDF MODEL:",tftrain.shape)
print("TF-IDF MODEL:",tftest.shape)

TF-IDF MODEL: (30000, 4954557)
TF-IDF MODEL: (20000, 4954557)

Label encoding

In [ ]:
label=LabelBinarizer()
sentimentdata=label.fit_transform(data['sentiment'])
print(sentimentdata.shape)

(50000, 1)

In [ ]:
sentimentdata

array([[1],
       [1],
       [1],
       ...,
       [0],
       [0],
       [0]])

In [ ]:
train_data=data.sentiment[:30000]

In [ ]:
test_data=data.sentiment[30000:]

In [ ]:
##bag of words model fitting

In [ ]:
logistic=LogisticRegression(penalty='l2',max_iter=500,random_state=42)
lr_bow=logistic.fit(cvtrain,train_data)
print(lr_bow)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

bag of words model prediction

In [ ]:
bowpredict=logistic.predict(cvtest)
print(bowpredict)

['negative' 'negative' 'negative' ... 'negative' 'negative' 'negative']

In [ ]:
bowscore=accuracy_score(test_data,bowpredict)
bowscore

0.59215

tfidf model fitting

In [ ]:
lr_tfidf=logistic.fit(tftrain,train_data)
print(lr_tfidf)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=500,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=42, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

tfidf model prediction

In [ ]:
tfidf_predict=logistic.predict(tftest)
print(tfidf_predict)

['negative' 'negative' 'negative' ... 'negative' 'positive' 'positive']

In [ ]:
tfidfscore=accuracy_score(test_data,tfidf_predict)
tfidfscore

0.7426